@import "tailwindcss";

.card-heritage{
    /* border-radius: var(--radius); */
    background-color: var(--color-white);
    padding: calc(var(--spacing)*6);
    --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color,#0000001a),0 2px 4px -2px var(--tw-shadow-color,#0000001a);
    box-shadow: var(--tw-inset-shadow),var(--tw-inset-ring-shadow),var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
    transition-property: box-shadow;
    transition-timing-function: var(--tw-ease,var(--default-transition-timing-function));
    transition-duration: var(--tw-duration,var(--default-transition-duration));
    --tw-duration: .3s;
    transition-duration: .3s;
}